.loginCont{
    background-color: greenyellow ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.cont{
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/images/astroboy1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: center;
    background-attachment: fixed; */
}